prev_state <C-o>
next_state <C-i>

screen_down <C-d>
screen_up <C-u>
move_left l
move_right h

previous_page;goto_top_of_page <C-p>
next_page;goto_top_of_page <C-n>

# NOTE: These do not interact well with the page controls.
# Firstly, they need to be defined after the page controls, otherwise they will
# be overridden.
# The [m] prefix is used to indicate that these are only menu keys and thus do
# not override the page controls.
# But even then, for some reason having them enabled breaks the multi command
# triggered by page controls (next page then snap to top of page).
# [m]control_menu(down) <C-n>
# [m]control_menu(up) <C-p>

control_menu(down) <C-j>
control_menu(up) <C-k>

zoom_in K
zoom_out J

open_last_document ^

add_highlight H

close_window q

goto_mark '
