* {
    border: none;
    border-radius: 0;
    font-family: "saruji";
    font-size: 16px;
    min-height: 0;
}

window#waybar {
    background: transparent;
    color: black;
}

#window {
    font-weight: bold;
    font-family: "Ubuntu";
}
/*
#workspaces {
    padding: 0 5px;
}
*/
#custom-dwl_tag {
    background-color: #735E20;
    border: solid 2px #333333;
    border-radius: 40px;
    margin: 0 1px;
    color: white;
}

#custom-dwl_tag.selected {
    background-color: #80383E;
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
    border-bottom-right-radius: 225px 15px;
    border-bottom-left-radius:15px 255px;
    border:solid 3px #222222;
}

#custom-dwl_tag.active {
    font-weight: bold;
}

#custom-dwl_title {
    font-weight: bold;
    color: black;
    font-size: 20px;
    margin-bottom: -5px;
}

#custom-dwl_layout {
    margin-left: 6px;
    font-weight: bold;
    color: black;
}

#mode {
    background: #64727D;
    border-bottom: 3px solid white;
}

#clock, #battery, #cpu, #memory, #network, #pulseaudio, #custom-spotify, #tray, #mode {
    padding: 3 6px;
    margin: 0;
}

#clock {
    color: white;
    background-color: #4E6BA6;
    font-weight: bold;
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
    border-bottom-right-radius: 225px 15px;
    border-bottom-left-radius:15px 255px;
    border:solid 3px #41403E;
}

#battery {
}

#battery icon {
    color: red;
}

#battery.charging {
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}

#battery.warning:not(.charging) {
    color: white;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#cpu {
}

#memory {
}

#network {
}

#network.disconnected {
    background: #f53c3c;
}

#pulseaudio {
}

#pulseaudio.muted {
}

#custom-spotify {
    color: rgb(102, 220, 105);
}

#tray {
    margin-right: 6px;
    margin-left: 6px;
    background-color: #735E20;
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
    border-bottom-right-radius: 225px 15px;
    border-bottom-left-radius:15px 255px;
    border:solid 3px #41403E;
}
